.container
  .row.static-page
    .col-lg-8.col-lg-offset-2.about
      %h3 Giới thiệu về Túi tiết kiệm

      %p
        'Túi tiết kiệm' là dự án khởi nghiệp về quản lý tài chính cá nhân. Mục tiêu hướng đến việc cung cấp thông tin về sản phẩm ngân hàng, đem đến cho mọi người ý tưởng sử dụng sản phẩm ngân hàng để tích lũy tài sản và hoàn thành mục tiêu tài chính thông qua các sản phẩm này. Mục tiêu dài hạn của chúng tôi là đem đến dịch vụ tư vấn toàn diện và cung cấp dịch vụ thương mại điện tử tiện ích cho mọi người trên toàn cầu. 

      %p{:style => "height: 150px" }
