.container
  .row.static-page
    .col-lg-8.col-lg-offset-2.partner
      %h3 Vì sao PocketBank - tietkiem.me
      %p 
        Chúng tôi cung cấp giải pháp giúp mọi người tìm được sản phẩm tài chính phù hợp nhất. Chúng tôi chào đón sự hợp tác với các đối tác & ngân hàng, vì quý vị không chỉ phục vụ khách hàng hiện tại mà cũng đồng thời tiếp cận nguồn khách hàng tiềm năng. 

      %h3 Giải pháp tổng thể & cạnh tranh
      %ul
        %li Chúng tôi cung cấp cho ngân hàng giải pháp quản lý thông tin tức thời, thiết lập các chương trình khuyến mãi, ưu đãi, tiết kiệm chi phí, và trực tiếp đến người dùng và nguồn khách hàng tiềm năng. 
        %li Giao diện thân thiện và bảng điều hành dễ thao tác
        %li Hỗ trợ liên tục 24/7
        %li Theo dõi mức độ tương tác của người dùng liên tục và trực tiếp
        %li Thu thập thông tin và bán hàng cho khách hàng tiềm năng 
        %li Tất cả tính năng được thực hiện trên nền tảng thử nghiệm trước khi đưa ra chính thức

      %p
        \... và nhiều tính năng khác sẽ được cập nhật trong tương lai	
        %br/
        Bản đồ chi nhánh, ATM đến từng đơn vị hành chính
        %br/
        Danh mục các điểm ưu đãi phục vụ đặc biệt cho khách hàng của ngân hàng

      %p{:style => "height: 100px" }
