%footer.site-footer
  .bubble
    = succeed ".me" do
      %span.highlight Tietkiem
  .links
    %ul
      %li
        %a{:href => about_path} Giới thiệu tietkiem.me
      %li
        %a{:href => partner_path} Dành cho Đối tác
  .contact
    .address
      Address: Ho Chi Minh City
    .mail
      Mail:
      %a{:href => "mailto:tietkiem.me@gmail.com"} support@tietkiem.me
    %a{:href => "https://twitter.com/tietkiemme"}
      .twitter.icon
    %a{:href => "https://www.facebook.com/tietkiem.me"}
      .facebook.icon
